ul{
	list-style:none;
}

li{
	list-style:none;
}

#container{
	position:relative;
	top:100px;
}

#mainheader{
	background-image: url('/assets/hempheader.png');
	height:150px;
	background-position:center;
	position: relative;     
	border-bottom:10px black solid;
}

#alternateheader{ 
	background-color: #008710; 
	margin-top: 500px;
	height:95px;
	position: relative;     
	border-bottom:10px #006012 solid;
	border-top:30px black solid;
}  
      
#altlogotop{
	float: left;
	z-index:99;
	position:relative;
	left:50px;
	top:5px;
}

#alt-searchbar{
	margin:auto;
	position:relative;
}   

#alt-navlinks{
	position: relative;
	left: 731px;
	top: -70px;
	ul{
		float: left;
   		padding: 0px;
		margin: 0px;
	}
	li{
		transition: opacity .5s;
		-moz-transition: opacity .5s;
		-webkit-transition: opacity .5s;
		-o-transition: opacity .5s;         
		-moz-opacity: 0.7;
		opacity: 0.7;
		float:left;     
		padding-right:15px;
	}               
	li:hover{
		-moz-opacity: 1;
		opacity: 1;
		transition-timing-function: ease-out;
	}
}     

#alt-searchform{
	-webkit-border-radius: 10px;
	border-radius: 10px;   
	top:10px;
	left:10px;
	z-index:98;
	height:85px;
	position:relative;
}

#topblackbar{
	background:black;
	height:20px;
}

#searchbar{
	width:940px;
	margin:auto;
	position:relative;
}

#navbar{    
	width:1200px;
	position:relative;
	margin:auto;
	top:-97px;
	left:-119px;
}                
                 
#navbarimg{
	-webkit-box-shadow: 0px -12px 0px 0px rgba(0, 0, 0, 1);
	box-shadow: 0px -12px 10px 0px rgba(0, 0, 0, 1);
}

#navlinks{
	position: relative;
	left: 731px;
	top: -89px;
	ul{
		float: left;
   		padding: 0px;
		margin: 0px;
	}
	li{
		transition: opacity .5s;
		-moz-transition: opacity .5s;
		-webkit-transition: opacity .5s;
		-o-transition: opacity .5s;         
		-moz-opacity: 0.7;
		opacity: 0.7;
		float:left;     
		padding-right:15px;
	}               
	li:hover{
		-moz-opacity: 1;
		opacity: 1;
		transition-timing-function: ease-out;
	}
}

#logotop{
	z-index:99;
	position:relative;
	left:-330px;
	top:-20px;
}

.mainsearchbtn{
	-webkit-border-radius: 10px;
	border-radius: 10px;
	width:80px;
	float:left;
	height:36px;
	margin-top:22px;
	margin-left:10px;
	background: #29abe2; /* Old browsers */
	background: -moz-linear-gradient(top,  #29abe2 1%, #b3b3b3 94%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#29abe2), color-stop(94%,#b3b3b3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #29abe2 1%,#b3b3b3 94%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #29abe2 1%,#b3b3b3 94%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #29abe2 1%,#b3b3b3 94%); /* IE10+ */
	background: linear-gradient(to bottom,  #29abe2 1%,#b3b3b3 94%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29abe2', endColorstr='#b3b3b3',GradientType=0 ); /* IE6-9 */
}

.mainsearchbtn:hover{
	background: #29abe2;
}

.topsearch{
	width: 200px;
	height: 30px;
	float: left;
	margin-left: 35px;
	margin-top: 22px;
}

#topsearchicon{
	margin-top:5px;
}

#near{
	margin-left: 20px;
	margin-top: 31px;
	float:left;
	color:white;
}

#mainsearchform{
	-webkit-border-radius: 10px;
	border-radius: 10px;
	top:-145px;
	left: 180px;
	z-index:98;
	background: rgba(0,96,18,.8);
	width:650px;
	height:85px;
	position:relative;
}